<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shatu_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{328,194}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,75},{328,194}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{330,194}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,76},{330,194}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{332,196}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,75},{332,196}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,396},{332,196}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,75},{332,196}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,594},{330,196}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,76},{330,196}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,396},{332,196}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,76},{332,196}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,794},{332,198}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,75},{332,198}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,794},{332,198}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,75},{332,198}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{332,196}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,76},{332,196}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{332,198}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,75},{332,198}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,198},{332,196}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,75},{332,196}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,594},{332,198}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,76},{332,198}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{332,196}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,76},{332,196}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,198},{330,196}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,76},{330,196}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,186}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,78},{320,186}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_ui_loading_bg_denlutu2_h4.ktx</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4717c1bd47b33b4d61c045bdd6989ab7$</string>
            <key>textureFileName</key>
            <string>e_ui_loading_bg_denlutu2_h4.ktx</string>
        </dict>
    </dict>
</plist>
