<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shatu_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,782},{322,188}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,77},{322,188}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,198},{330,202}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,77},{330,202}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{328,202}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,77},{328,202}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,598},{330,194}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,76},{330,194}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,204}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,77},{332,204}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,196},{332,190}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,78},{332,190}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,586},{330,194}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,78},{330,194}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{332,192}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,77},{332,192}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{330,192}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,77},{330,192}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{330,194}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,76},{330,194}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{332,194}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,77},{332,194}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,402},{330,194}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,77},{330,194}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,388},{330,196}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,76},{330,196}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{330,196}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,76},{330,196}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>shatu_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,796},{324,198}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,75},{324,198}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_ui_loading_bg_denlutu2_h3.ktx</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:435c6c6fa9eb5ef70a25ba21274a94c0$</string>
            <key>textureFileName</key>
            <string>e_ui_loading_bg_denlutu2_h3.ktx</string>
        </dict>
    </dict>
</plist>
