<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_ui_loading_hou_denglu_h1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,512},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>e_ui_loading_hou_denglu_h1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,257},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>e_ui_loading_hou_denglu_h1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,257},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>e_ui_loading_hou_denglu_h1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,767},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>e_ui_loading_hou_denglu_h1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,512},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>e_ui_loading_hou_denglu_h1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,257},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>e_ui_loading_hou_denglu_h1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>e_ui_loading_hou_denglu_h1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>e_ui_loading_hou_denglu_h1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>e_ui_loading_hou_denglu_h1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>e_ui_loading_hou_denglu_h1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>e_ui_loading_hou_denglu_h1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>e_ui_loading_hou_denglu_h1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>e_ui_loading_hou_denglu_h1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,767},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>e_ui_loading_hou_denglu_h1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,512},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>e_ui_loading_hou_denglu_h1_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,767},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_ui_loading_bg_denlutu2_h2.ktx</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63830a3d1ca5a03773b11b633f753b3c$</string>
            <key>textureFileName</key>
            <string>e_ui_loading_bg_denlutu2_h2.ktx</string>
        </dict>
    </dict>
</plist>
