<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,510},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,253},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,773},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,761},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,761},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,516},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,259},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,504},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>e_ui_loading_denglu_2022_EU_R2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,253},{249,255}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{249,255}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_ui_loading_denglu_2022_EU_T2.ktx</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:958bcb961a54d8a773b6f40efa5acbb9$</string>
            <key>textureFileName</key>
            <string>e_ui_loading_denglu_2022_EU_T2.ktx</string>
        </dict>
    </dict>
</plist>
