<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_ui_loading_hou_xinnian_h1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,302},{224,282}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,38},{224,282}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,294},{226,286}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,34},{226,286}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,234},{226,288}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,32},{226,288}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{226,290}}</string>
                <key>offset</key>
                <string>{19,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,30},{226,290}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{230,298}}</string>
                <key>offset</key>
                <string>{21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,22},{230,298}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{230,300}}</string>
                <key>offset</key>
                <string>{23,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,20},{230,300}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,620},{230,302}}</string>
                <key>offset</key>
                <string>{25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,18},{230,302}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{230,304}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,16},{230,304}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{232,306}}</string>
                <key>offset</key>
                <string>{27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,14},{232,306}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,308}}</string>
                <key>offset</key>
                <string>{28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,12},{232,308}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_ui_loading_hou_xinnian_h2.ktx</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e3fcdfbfac75893f5de7f21c64c040f$</string>
            <key>textureFileName</key>
            <string>e_ui_loading_hou_xinnian_h2.ktx</string>
        </dict>
    </dict>
</plist>
