<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_ui_loading_huo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{20,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{20,115}}</string>
                <key>sourceSize</key>
                <string>{34,125}</string>
            </dict>
            <key>e_ui_loading_huo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{18,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{18,113}}</string>
                <key>sourceSize</key>
                <string>{34,125}</string>
            </dict>
            <key>e_ui_loading_huo03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{18,115}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{18,115}}</string>
                <key>sourceSize</key>
                <string>{34,125}</string>
            </dict>
            <key>e_ui_loading_huo04.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{18,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{18,111}}</string>
                <key>sourceSize</key>
                <string>{34,125}</string>
            </dict>
            <key>e_ui_loading_huo05.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{18,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{18,113}}</string>
                <key>sourceSize</key>
                <string>{34,125}</string>
            </dict>
            <key>e_ui_loading_huo06.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{18,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{18,111}}</string>
                <key>sourceSize</key>
                <string>{34,125}</string>
            </dict>
            <key>e_ui_loading_huo07.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{18,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{18,113}}</string>
                <key>sourceSize</key>
                <string>{34,125}</string>
            </dict>
            <key>e_ui_loading_huo08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{20,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{20,115}}</string>
                <key>sourceSize</key>
                <string>{34,125}</string>
            </dict>
            <key>e_ui_loading_smoke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>e_ui_loading_smoke3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,189},{44,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{46,57}</string>
            </dict>
            <key>e_ui_loading_sun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,153},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>e_ui_loading_yan_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,175},{54,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{54,74}</string>
            </dict>
            <key>e_ui_loading_yan_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,175},{61,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,72}}</string>
                <key>sourceSize</key>
                <string>{61,72}</string>
            </dict>
            <key>e_ui_loading_yun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,117},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>e_ui_loading_yun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,121},{83,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,52}}</string>
                <key>sourceSize</key>
                <string>{83,52}</string>
            </dict>
            <key>e_ui_loading_yun04.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,189},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>e_ui_loading_yun05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{33,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,16}}</string>
                <key>sourceSize</key>
                <string>{33,16}</string>
            </dict>
            <key>e_ui_loading_yun06.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,119},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>e_ui_loading_yun07.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,117},{70,51}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{70,51}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_ui_loading_h.ktx</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24e8c6266d8667e50dd85c81b504ac73:dae2961e387867a36b380b3a37faa95c:b1cf109e9e7304d0b5d1726ed0799964$</string>
            <key>textureFileName</key>
            <string>e_ui_loading_h.ktx</string>
        </dict>
    </dict>
</plist>
