<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_ui_loading_di2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,100},{1,1}}</string>
                <key>offset</key>
                <string>{-58.5,58.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,100},{1,1}}</string>
                <key>offset</key>
                <string>{-58.5,58.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,100},{1,1}}</string>
                <key>offset</key>
                <string>{-58.5,58.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,94},{2,4}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,106},{2,4}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,274},{8,12}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,99},{8,12}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,368},{80,26}}</string>
                <key>offset</key>
                <string>{-9,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,85},{80,26}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,408},{90,34}}</string>
                <key>offset</key>
                <string>{-12,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,76},{90,34}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,368},{92,38}}</string>
                <key>offset</key>
                <string>{-12,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,72},{92,38}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,362},{64,40}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,70},{64,40}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,362},{82,64}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,47},{82,64}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,358},{92,74}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,37},{92,74}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,428},{92,80}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{92,80}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,196},{94,84}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{94,84}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,282},{92,84}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{92,84}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,428},{94,80}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{94,80}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,280},{94,80}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{94,80}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,280},{94,76}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{94,76}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{94,80}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{94,80}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,274},{94,86}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{94,86}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,102},{94,92}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{94,92}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{94,98}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{94,98}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,94},{92,102}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{92,102}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{92,104}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{92,104}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{92,106}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{92,106}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,106}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{92,106}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{90,104}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{90,104}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{92,104}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{92,104}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{90,104}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{90,104}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,188},{90,98}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{90,98}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{92,102}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{92,102}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,96},{90,102}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{90,102}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,94},{90,102}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{90,102}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,188},{90,100}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{90,100}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,186},{86,102}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{86,102}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>e_ui_loading_di2_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,434},{72,86}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,22},{72,86}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_ui_loading_di2_h2.ktx</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b8c0643407c0df9bf033a0212e33781:f612001c0c150f0f91f3e5e7a8aee7dc:d8a341cd9c7c73e9df1ec8b51f0ef9ba$</string>
            <key>textureFileName</key>
            <string>e_ui_loading_di2_h2.ktx</string>
        </dict>
    </dict>
</plist>
