<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_ui_loading_hou_xinnian_h1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,238},{232,310}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,10},{232,310}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{234,310}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,10},{234,310}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{232,312}}</string>
                <key>offset</key>
                <string>{32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,7},{232,312}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,316},{232,312}}</string>
                <key>offset</key>
                <string>{33,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,7},{232,312}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{234,312}}</string>
                <key>offset</key>
                <string>{33,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,6},{234,312}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,636},{232,312}}</string>
                <key>offset</key>
                <string>{34,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,6},{232,312}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,320},{232,314}}</string>
                <key>offset</key>
                <string>{35,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,4},{232,314}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{236,314}}</string>
                <key>offset</key>
                <string>{34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,4},{236,314}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,316}}</string>
                <key>offset</key>
                <string>{35,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,2},{234,316}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>e_ui_loading_hou_xinnian_h1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{232,316}}</string>
                <key>offset</key>
                <string>{37,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,2},{232,316}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_ui_loading_hou_xinnian_h3.ktx</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d0c5de0fdc1855e98ebf42a6ea1c484$</string>
            <key>textureFileName</key>
            <string>e_ui_loading_hou_xinnian_h3.ktx</string>
        </dict>
    </dict>
</plist>
