<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sha_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,614},{217,146}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,82},{217,146}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,612},{219,148}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,79},{219,148}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,833},{223,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,80},{223,146}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,152},{227,148}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,78},{227,148}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{229,148}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,76},{229,148}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{233,152}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,73},{233,152}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,752},{233,146}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,77},{233,146}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,450},{237,150}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,75},{237,150}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,312},{255,154}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,73},{255,154}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,160},{259,154}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,73},{259,154}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{261,156}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,71},{261,156}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{261,152}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,75},{261,152}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,168}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,62},{263,168}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,156},{259,154}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,71},{259,154}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{239,142}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,82},{239,142}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,602},{223,142}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,82},{223,142}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,833},{225,144}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,80},{225,144}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,468},{227,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,80},{227,144}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,302},{231,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,79},{231,146}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,462},{241,148}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,75},{241,148}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{241,142}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,84},{241,142}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{243,142}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,85},{243,142}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,316},{249,144}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,84},{249,144}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
            <key>sha_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{251,146}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,83},{251,146}}</string>
                <key>sourceSize</key>
                <string>{287,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_ui_loading_wild_be_sha.ktx</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1ff27e303ec06a4d917e8f771f45128$</string>
            <key>textureFileName</key>
            <string>e_ui_loading_wild_be_sha.ktx</string>
        </dict>
    </dict>
</plist>
